---
openapi: 3.0.3
info:
  title: Retail Store API
  version: 1.0.0
servers:
- url: https://retailmsvc-retail-store.apps.66a64ff6d70fa4001ee0caae.ocp.techzone.ibm.com/
  description: (RHDH component deployment)
- url: http://localhost:8080
  description: (localhost development / testing)
paths:
  /error:
    get:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingGET
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
    head:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingHEAD
        consumes:
            - application/json
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '204':
                description: 'No Content'
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
        deprecated: false
    post:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingPOST
        consumes:
            - application/json
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '201':
                description: Created
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
    put:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingPUT
        consumes:
            - application/json
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '201':
                description: Created
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
    delete:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingDELETE
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '204':
                description: 'No Content'
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
        deprecated: false
    options:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingOPTIONS
        consumes:
            - application/json
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '204':
                description: 'No Content'
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
        deprecated: false
    patch:
        tags:
            - basic-error-controller
        summary: errorHtml
        operationId: errorHtmlUsingPATCH
        consumes:
            - application/json
        produces:
            - text/html
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ModelAndView'}
            '204':
                description: 'No Content'
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
        deprecated: false
  /es/estore/allusers:
    get:
        tags:
            - user-controller
        summary: getUsers
        operationId: getUsersUsingGET
        produces:
            - '*/*'
        responses:
            '200':
                description: OK
                schema: {type: array, items: {$ref: '#/definitions/User'}}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /es/estore/create/user:
    post:
        tags:
            - user-controller
        summary: createOrder
        operationId: createOrderUsingPOST_1
        consumes:
            - application/json
        produces:
            - '*/*'
        parameters:
            -
                in: body
                name: user
                description: user
                required: true
                schema: {$ref: '#/definitions/User'}
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/User'}
            '201':
                description: Created
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  '/es/estore/login/{Uid}/{Pwd}':
    get:
        tags:
            - user-controller
        summary: userLogin
        operationId: userLoginUsingGET
        produces:
            - '*/*'
        parameters:
            -
                name: Pwd
                in: path
                description: Pwd
                required: true
                type: string
            -
                name: Uid
                in: path
                description: Uid
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {type: boolean}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  '/es/estore/user/{id}':
    get:
        tags:
            - user-controller
        summary: getUserById
        operationId: getUserByIdUsingGET
        produces:
            - '*/*'
        parameters:
            -
                name: id
                in: path
                description: id
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/User'}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /getAllProducts:
    get:
        tags:
            - product-rest-controller
        summary: getAllProducts
        operationId: getAllProductsUsingGET
        produces:
            - '*/*'
        responses:
            '200':
                description: OK
                schema: {type: array, items: {$ref: '#/definitions/Product'}}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  '/getAllProducts/{productId}':
    get:
        tags:
            - product-rest-controller
        summary: getProductById
        operationId: getProductByIdUsingGET
        produces:
            - '*/*'
        parameters:
            -
                name: productId
                in: path
                description: productId
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/Optional«Product»'}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /order/create:
    post:
        tags:
            - order-controller
        summary: createOrder
        operationId: createOrderUsingPOST
        consumes:
            - application/json
        produces:
            - '*/*'
        parameters:
            -
                in: body
                name: order
                description: order
                required: true
                schema: {$ref: '#/definitions/Order'}
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/Order'}
            '201':
                description: Created
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /order/getall:
    get:
        tags:
            - order-controller
        summary: getAll
        operationId: getAllUsingGET
        produces:
            - '*/*'
        responses:
            '200':
                description: OK
                schema: {type: array, items: {$ref: '#/definitions/Order'}}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  '/order/getbyorderId/{orderId}':
    get:
        tags:
            - order-controller
        summary: getById
        operationId: getByIdUsingGET
        produces:
            - '*/*'
        parameters:
            -
                name: orderId
                in: path
                description: orderId
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/Optional«Order»'}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  '/products/Productdetail/{productId}':
    get:
        tags:
            - product-rest-controller
        summary: getProductDetailId
        operationId: getProductDetailIdUsingGET
        produces:
            - '*/*'
        parameters:
            -
                name: productId
                in: path
                description: productId
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {$ref: '#/definitions/ProductDto'}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /products/add:
    post:
        tags:
            - product-controller
        summary: addProduct
        operationId: addProductUsingPOST
        consumes:
            - multipart/form-data
        produces:
            - '*/*'
        parameters:
            -
                name: available
                in: query
                description: available
                required: true
                type: string
            -
                name: brandId
                in: query
                description: brandId
                required: true
                type: string
            -
                name: categoryId
                in: query
                description: categoryId
                required: true
                type: string
            -
                name: description
                in: query
                description: description
                required: true
                type: string
            -
                name: image
                in: formData
                description: image
                required: true
                type: file
            -
                name: productId
                in: query
                description: productId
                required: true
                type: string
            -
                name: productName
                in: query
                description: productName
                required: true
                type: string
            -
                name: purchasePrice
                in: query
                description: purchasePrice
                required: true
                type: number
                format: double
            -
                name: ratingId
                in: query
                description: ratingId
                required: true
                type: string
            -
                name: salePrice
                in: query
                description: salePrice
                required: true
                type: number
                format: double
            -
                name: typeId
                in: query
                description: typeId
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {type: string}
            '201':
                description: Created
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /products/productupdate:
    post:
        tags:
            - product-rest-controller
        summary: updateProduct
        operationId: updateProductUsingPOST
        consumes:
            - application/json
        produces:
            - '*/*'
        parameters:
            -
                in: body
                name: productdto
                description: productdto
                required: true
                schema: {$ref: '#/definitions/ProductDto'}
        responses:
            '200':
                description: OK
                schema: {type: string}
            '201':
                description: Created
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  /products/upload:
    get:
        tags:
            - product-controller
        summary: uploadProduct
        operationId: uploadProductUsingGET
        produces:
            - '*/*'
        responses:
            '200':
                description: OK
                schema: {type: string}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
  '/products/{id}':
    get:
        tags:
            - product-controller
        summary: getProduct
        operationId: getProductUsingGET
        produces:
            - '*/*'
        parameters:
            -
                name: id
                in: path
                description: id
                required: true
                type: string
        responses:
            '200':
                description: OK
                schema: {type: string}
            '401':
                description: Unauthorized
            '403':
                description: Forbidden
            '404':
                description: 'Not Found'
        deprecated: false
definitions:
Binary:
    type: object
    properties:
        data:
            type: string
            format: byte
        type:
            type: integer
            format: int32
            minimum: -128
            maximum: 127
    title: Binary
ModelAndView:
    type: object
    properties:
        empty:
            type: boolean
        model:
            type: object
        modelMap:
            type: object
            additionalProperties:
                type: object
        reference:
            type: boolean
        status:
            type: string
            enum:
                - '100 CONTINUE'
                - '101 SWITCHING_PROTOCOLS'
                - '102 PROCESSING'
                - '103 CHECKPOINT'
                - '200 OK'
                - '201 CREATED'
                - '202 ACCEPTED'
                - '203 NON_AUTHORITATIVE_INFORMATION'
                - '204 NO_CONTENT'
                - '205 RESET_CONTENT'
                - '206 PARTIAL_CONTENT'
                - '207 MULTI_STATUS'
                - '208 ALREADY_REPORTED'
                - '226 IM_USED'
                - '300 MULTIPLE_CHOICES'
                - '301 MOVED_PERMANENTLY'
                - '302 FOUND'
                - '302 MOVED_TEMPORARILY'
                - '303 SEE_OTHER'
                - '304 NOT_MODIFIED'
                - '305 USE_PROXY'
                - '307 TEMPORARY_REDIRECT'
                - '308 PERMANENT_REDIRECT'
                - '400 BAD_REQUEST'
                - '401 UNAUTHORIZED'
                - '402 PAYMENT_REQUIRED'
                - '403 FORBIDDEN'
                - '404 NOT_FOUND'
                - '405 METHOD_NOT_ALLOWED'
                - '406 NOT_ACCEPTABLE'
                - '407 PROXY_AUTHENTICATION_REQUIRED'
                - '408 REQUEST_TIMEOUT'
                - '409 CONFLICT'
                - '410 GONE'
                - '411 LENGTH_REQUIRED'
                - '412 PRECONDITION_FAILED'
                - '413 PAYLOAD_TOO_LARGE'
                - '413 REQUEST_ENTITY_TOO_LARGE'
                - '414 URI_TOO_LONG'
                - '414 REQUEST_URI_TOO_LONG'
                - '415 UNSUPPORTED_MEDIA_TYPE'
                - '416 REQUESTED_RANGE_NOT_SATISFIABLE'
                - '417 EXPECTATION_FAILED'
                - '418 I_AM_A_TEAPOT'
                - '419 INSUFFICIENT_SPACE_ON_RESOURCE'
                - '420 METHOD_FAILURE'
                - '421 DESTINATION_LOCKED'
                - '422 UNPROCESSABLE_ENTITY'
                - '423 LOCKED'
                - '424 FAILED_DEPENDENCY'
                - '425 TOO_EARLY'
                - '426 UPGRADE_REQUIRED'
                - '428 PRECONDITION_REQUIRED'
                - '429 TOO_MANY_REQUESTS'
                - '431 REQUEST_HEADER_FIELDS_TOO_LARGE'
                - '451 UNAVAILABLE_FOR_LEGAL_REASONS'
                - '500 INTERNAL_SERVER_ERROR'
                - '501 NOT_IMPLEMENTED'
                - '502 BAD_GATEWAY'
                - '503 SERVICE_UNAVAILABLE'
                - '504 GATEWAY_TIMEOUT'
                - '505 HTTP_VERSION_NOT_SUPPORTED'
                - '506 VARIANT_ALSO_NEGOTIATES'
                - '507 INSUFFICIENT_STORAGE'
                - '508 LOOP_DETECTED'
                - '509 BANDWIDTH_LIMIT_EXCEEDED'
                - '510 NOT_EXTENDED'
                - '511 NETWORK_AUTHENTICATION_REQUIRED'
